body{
    margin: 0;
}

.header{
    grid-area: header;
    display: flex;
    background-color: blue; 
    justify-content: space-between;
}

.navBar{
    grid-area: navBar;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: whitesmoke;
    margin-bottom: 5%;
}

.precio{
    background-color: white;
    margin-left: 8%;
    margin-right: 8%;
}

.main{
    grid-area: main;
    background-color: white;
}

.footer{
    grid-area: footer;
    text-align: center;
    background-color: blue;
}

.grid-container{
    display: grid;
    grid-template-areas: 
    'header'
    'navBar'
    'main'
    'footer';
}

.grid-container2{
    display: grid;
    text-align: center;
    grid-template-columns: auto;
}

.grid-item{
    margin-bottom: 20px;
}

@media (min-width: 992px){
    .grid-container{
        display: grid;
        grid-template-areas: 
        'header navBar navBar'
        'header main main'
        'footer main main';
    }

    .grid-container2{
        grid-template-columns: auto auto auto auto;
    }
}